
.table-fill {
  background: white;
  border-radius: 0px 0px 4px 4px;
  border-collapse: collapse;
  height: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 400px;
  min-width: 352px;
  
  
  -moz-box-shadow:    0px 2px 2px 0px rgba(0,0,0,0.30);
  box-shadow:         0px 2px 2px 0px rgba(0,0,0,0.30);
  animation: float 5s infinite;
}

table caption {
  background-color: $red;
  height: 60px;
  border-radius: 4px 4px 0px 0px;
  border-bottom: 2px solid #872828;
  color: $white;
  text-transform: uppercase;
  font-size: $table__caption__font-size;
  line-height: 60px;
}


 
th {
  color: $red;
  text-transform: uppercase;
  background: $white;
  border-right: 2px solid rgba(197,197,197,0.20);
  font-size: $base__font-size;
  font-weight: 100;
  padding:20px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color: $black;
  font-size: $base__font-size;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}
 
tr:hover td {
  background:#4E5066;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:$white;
  padding: $table__data-padding;
  text-align:left;
  vertical-align:middle;
  font-size: $table__font-size;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(197,197,197,0.20);
  border-right: 2px solid rgba(197,197,197,0.20);
  width: 50%;
}

table:nth-of-type(even) { margin-right: none;}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
