

 .logo {
    background: url(image_path('g-fest-logo.svg')) no-repeat;
    width: em(320px);
    height: em(320px);
    margin-top: em(80px);


 }

.event-info {

  li {
    display: block;
    }

}
