<h2>lineup</h2>

<div class="show-list col-10">
	
	<% @band_ok = @band_list.split("\n") %>
<% @band_ok.each do |i| %>
<li><%= i %></li>
<% end %>
</div>
<h2>schedule</h2>


<body>
<div class="schedule col-10 clearfix">
	<table class="table-fill left">
			<caption>ST. MICHEAL'S PUB</caption>
		<thead>
			<tr>
				<th class="text-left">Time</th>
				<th class="text-right">Band</th>
			</tr>
		</thead>
		<tbody class="table-hover">
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
		</tr>
		</tbody>
	</table>

	<table class="table-fill left">
			<caption>All Saint's cafe</caption>
		<thead>
			<tr>
				<th class="text-left">Time</th>
				<th class="text-right">Band</th>
			</tr>
		</thead>
		<tbody class="table-hover">
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
		</tr>
		</tbody>
	</table>

	<table class="table-fill left">
			<caption>All Saint's cafe</caption>
		<thead>
			<tr>
				<th class="text-left">Time</th>
				<th class="text-right">Band</th>
			</tr>
		</thead>
		<tbody class="table-hover">
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
		</tr>
		</tbody>
	</table>
	<table class="table-fill left">
			<caption>All Saint's cafe</caption>
		<thead>
			<tr>
				<th class="text-left">Time</th>
				<th class="text-right">Band</th>
			</tr>
		</thead>
		<tbody class="table-hover">
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
			</tr>
			<tr>
				<td class="text-left">1:50PM - 2:20PM</td>
				<td class="text-right">Father Feather</td>
		</tr>
		</tbody>
	</table>
</div>
<h2>sponsors</h2>

