<!-- <header>
	<div class="event-info animated fadeInUp ">
		<ul>
			<li >BEER</li>
			<li>FOOD</li>
			<li>MUSIC</li>
			<li>ART</li>
		</ul>

	<ul>
		<li>OCTOBER 11th, 2014</li>
		<li>GAINES STREET & RAILROAD AVE</li> 
	</ul>
		
	</div>
	<div class="logo animated"></div>
	
	<nav class="main-nav col-12 ">
		<ul class="center">
			<li class="col-2 animated fadeInLeft"></li>
			<li class="col-2 animated fadeInLeft"><%= nav_link_to "BANDS", bands_path %></li>
			<li class="col-2 animated fadeInLeft"><%= nav_link_to "SPONSORS",    sponsors_path %></li>
			<li class="col-2 animated fadeInLeft"><%= nav_link_to "MERCH",    merch_path %></li>
			<li class="col-2 animated fadeInLeft"><%= nav_link_to "PRESS",    press_path %></li>
		</ul>
	</nav>
</header> -->

<header>
	<div class="event-info left">
	<ul>
		<li>OCTOBER 11th, 2014</li>
		<li>GAINES STREET & RAILROAD AVE</li> 
	</ul>	
	</div>

	<nav class="right">
		<ul>
			<li>ABOUT US</li>
			<li>CONTACT</li>
		</ul>
	</nav>
	
	<div class="logo mx-auto"></div>
	
	<div class="top-info-bar col-12 ">
		<ul class="center">
			<li class="col-2">BEER</li>
			<li class="col-2 ">FOOD</li>
			<li class="col-2">MUSIC</li>
			<li class="col-2">ART</li>
		</ul>
	</div>
</header>